@page
@model FizzBuzzModel
@{
    ViewData["Title"] = "Ostatnio szukane";
}

<p>Dane w zapisane w sesji</p>
@if (Model.fizzbuzz != null)
{ 
<p>
    @Html.DisplayNameFor(model => Model.fizzbuzz.Number):
    @Model.fizzbuzz.Number
</p>
<p>
    @Html.DisplayNameFor(model => Model.fizzbuzz.Result):
    @Model.fizzbuzz.Result
</p>
<p>
    @Html.DisplayNameFor(model => Model.fizzbuzz.Date):
    @Model.fizzbuzz.Date
</p>
}
